<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SHA-256 Hash Generator</title>
</head>
<body>
    <div class = "content">

        <form action="/" method="POST">
            <input name="user_input" placeholder="Enter a value"></input>
            <button type="submit">Hash</button>
        </form>
        
        <div id = resultBox> 
        {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    Error: {{ message }}
                {% endfor %}
        {% endwith %}

        {% if result %}
             {{ result }}
        {% endif %}
    </div>
    </div>
</body>
</html>